FILE=${PWD}/kubeconfig
if test -f "$FILE"; then
    export KUBECONFIG=${FILE}
fi

export POD_NAMESPACE=default

export USE_EXISTING_CLUSTER=true

export AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
