FILE=${PWD}/kubeconfig
if test -f "$FILE"; then
    export KUBECONFIG=${FILE}
fi

FILE=$(kind get kubeconfig-path --name="awsctrl")
if test -f "$FILE"; then
    export KUBECONFIG=${FILE}
fi

export POD_NAMESPACE=default
